@charset "utf-8";

// restore default behaviour
$body-overflow-y: auto;

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

$body-size: 14px;
$size-7: 0.9rem;

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #637777;
$beige-light: #d0d1cd;
$beige-lighter: #eeeeee;

// cf. https://github.com/jgthms/bulma/issues/2183
$secondary: RebeccaPurple;
$secondary-invert: findColorInvert($secondary) !default;
$custom-colors: (
    "secondary": (
        $secondary,
        $secondary-invert,
    ),
);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$success: mediumSeaGreen;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;

$menu-item-hover-background-color: rgb(230, 230, 247);
$menu-item-active-background-color: RoyalBlue;
$menu-label-font-size: 1.1em;
$menu-label-background-color: Cornsilk;

$custom-colors: (
    "secondary": (
        $secondary,
        $secondary-invert,
    ),
);

$burger-background-color: white;
$burger-color: black;
$burger-height: 112px;
$burger-width: 132px;
