$secondary: #67579b !default;
$secondary-invert: findColorInvert($secondary) !default;

$custom-colors: (
    "secondary": (
        $secondary,
        $secondary-invert,
    ),
);

.text-muted {
    color: rgba($text, 0.5) !important;
}

// cf. https://stackoverflow.com/questions/19758598/what-is-sr-only-in-bootstrap-3
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

// Needed for mgDrawer
// cf. https://github.com/jgthms/bulma/issues/1115
$menu-invert-background: findColorInvert($background) !default;
$menu-invert-label-background-color: findColorInvert($menu-label-background-color) !default;
$menu-invert-label-color: findColorInvert($menu-label-color) !default;
$menu-invert-item-color: findColorInvert($menu-item-color) !default;
$menu-invert-item-active-background-color: findColorInvert(
    $menu-item-active-background-color
) !default;
$menu-invert-item-active-color: findColorInvert($menu-item-active-color) !default;

.menu {
    &.is-invert {
        background-color: $menu-invert-background;
        .menu-label {
            background-color: $menu-invert-label-background-color;
            color: $menu-invert-label-color;
            padding-top: 0.3em;
        }
        .menu-list {
            a {
                color: $menu-invert-item-color;
                &:hover {
                    background-color: $menu-invert-item-active-background-color;
                    color: $menu-invert-item-active-color;
                }
            }
        }
        .menu-item {
            color: findColorInvert($menu-invert-background);
            &.is-active {
                background-color: green;
            }
        }
    }
}

.button.is-secondary:hover,
.button.is-secondary.is-hovered {
    color: $beige-lighter;
}

.button.is-secondary {
    color: $beige-lighter;
}

button.is-circular {
    border-radius: 50%;
}

// Needed for formio components
.active {
    @extend .is-active;
}

// Needed for formio components
.is-invalid {
    @extend .is-danger;
}

@import "./choices.scss";
@import "./fieldset.scss";
@import "./mgDrawer.scss";
