<div class="card form-builder-panel" ref="group-panel-{{ctx.groupKey}}">
  <div class="card-header form-builder-group-header" id="heading-{{ctx.groupKey}}">
    <!-- <h5 class="mb-0 mt-0"> -->
      <button
        class="button is-primary is-fullwidth btn-block builder-group-button"
        type="button"
        data-toggle="collapse"
        data-target="#group-{{ctx.groupKey}}"
        data-parent="#{{ctx.groupId}}"
        aria-expanded="{{ctx.group.default}}"
        aria-controls="group-{{ctx.groupKey}}"
        ref="sidebar-anchor"
      >
        {{ctx.t(ctx.group.title)}}
      </button>
    <!-- </h5> -->
  </div>
  <div
    id="group-{{ctx.groupKey}}"
    class="collapse {{ctx.group.default ? ' show' : ''}}"
    data-parent="#{{ctx.groupId}}"
    data-default="{{ctx.group.default}}"
    aria-labelledby="heading-{{ctx.groupKey}}"
    ref="sidebar-group"
  >
    <div id="group-container-{{ctx.groupKey}}" class="card-content no-drop p-2" ref="sidebar-container">
      {% !ctx.group.componentOrder || ctx.group.componentOrder.forEach(function(componentKey) { %}
        <button 
          class="button is-default is-small is-secondary is-rounded is-fullwidth mt-1 mb-1 btn-block formcomponent drag-copy"
                data-group="{{ctx.groupKey}}"
          data-key="{{ctx.group.components[componentKey].key}}"
          data-type="{{ctx.group.components[componentKey].schema.type}}"
      >
          <span class="icon is-small">
            <i class="fa {{ctx.iconClass(ctx.group.components[componentKey].icon)}}"></i>
          </span>
          <span
            data-group="{{ctx.groupKey}}"
            data-key="{{ctx.group.components[componentKey].key}}"
            data-type="{{ctx.group.components[componentKey].schema.type}}"
            class=""
          >
            {{ctx.t(ctx.group.components[componentKey].title)}}
          </span>
        </button>
      {% }) %}
      {{ctx.subgroups.join('')}}
    </div>
  </div>
</div>
