<div class="columns formio builder row formbuilder">
    <div class="column is-4-mobile is-3-tablet is-2-desktop formcomponents">
      {{ctx.sidebar}}
    </div>
    <div class="column is-8-mobile is-9-tablet is-10-desktop formarea" ref="form">
      {{ctx.form}}
    </div>
</div>
