<label
        class="label mb-0 pt-3 {{ ctx.label.className }}"
>
    {{ ctx.t(ctx.component.label) }}

    {% if (ctx.component.tooltip != "") { %}
        <span class="has-tooltip-arrow Xhas-tooltip-active has-tooltip-right has-tooltip-multiline" data-tooltip="{{ ctx.component.tooltip }}">
            <i class="{{ ctx.iconClass('question-sign') }} text-muted"> </i>
        </span>
    {% } %}
</label>
